@inherits LayoutComponentBase

<div class="page">
    <div class="container">
        <div class="wrapper">
            @Body
        </div>

    </div>
    <div class="header">Todo List</div>
</div>
